/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100px;
  background: url('https://img.freepik.com/free-vector/stream-binary-code-design-vector_53876-166142.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header */
header {
  background: linear-gradient(to right, #000000, #010103);
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-img {
  max-height: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: hsl(38, 100%, 50%);
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #67f3c9;
}

/* Home Section */
#home {
  
  color: rgb(2, 136, 133); /* Texto de contraste */
  padding: 40px 20px;
  text-align: center; /* Centra el texto */
}

#home h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#home p {
  font-size: 1.05em;
  line-height: 1.5;
  margin-bottom: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para las imágenes de programación */
.programming-images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.programming-images img {
  max-width: 30%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.programming-images img:hover {
  transform: scale(1.05);
}

#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Ocupa toda la altura del viewport */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.189); /* Fondo oscuro semi-transparente para mejorar la legibilidad del texto */
}

.content {
  max-width: 1000px;
  margin:auto;
  color: hsl(38, 100%, 50%);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inicio h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

#inicio p {
  font-size: 1.2rem;
  margin: 10px 0;
  line-height: 1.5;
}

/*sector inicio*/
#tecno {
  padding: 20px;
  
  text-align: center;
}

#tecno .tecno1 p {
  font-size: 1.5rem;
  color: #f3a805;
  margin-bottom: 20px;
}

#tecno .tecno2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#tecno .tecno2 img {
  max-width: 75px;
  height: auto;
  margin: 0 10px; /* Espaciado horizontal entre imágenes */
  transition: transform 0.3s ease;
}

#tecno .tecno2 img:hover {
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor sobre las imágenes */
}

#services {
  padding: 50px 20px;
  background-color: transparent; /* Fondo transparente para ver la imagen de fondo de la página */
  text-align: center;
}

#services h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f3a805;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  background-color: rgba(255, 255, 255, 0.61); /* Color de fondo blanco con transparencia para los cuadros */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(255, 230, 0, 0.98);
  flex-basis: calc(33.333% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services h3 {
  font-size: 1.8em;
  color: #2c018e;
  margin-bottom: 10px;
}

#services p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #185665;
  margin: 0;
}

